header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #daa520;
}

.search-input {
  margin-left: auto;
  padding: 8px;
  border: 1px solid #ccc;
  color: rgb(149, 240, 88);
}

main {
  text-align: center;
}

form {
  margin-top: 30px;
}

h1.text {
  color: rgb(92, 201, 50);
}
